<div class="container">
	<div class="row">
		<div class="col-xl-3 col-lg-4">

			<div class="form-group">
				<label for="exampleInputEmail1">Name:</label>
				<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Reference:</label>
				<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Status:</label><br />
				<div class="row">
					<div class="col-xl-12 col-lg-12">
						<label class="m-checkbox m-checkbox--solid m-checkbox--brand">
							<input checked="true" type="checkbox" name="account_communication[]" value="email">Active
							<span></span>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-xl-12 col-lg-12">
						<label class="m-checkbox m-checkbox--solid m-checkbox--brand">
							<input checked="true" type="checkbox" name="account_communication[]" value="email">Expired
							<span></span>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-xl-12 col-lg-12">
						<label class="m-checkbox m-checkbox--solid m-checkbox--brand">
							<input checked="true" type="checkbox" name="account_communication[]" value="email">Archived
							<span></span>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-xl-12 col-lg-12">
						<label class="m-checkbox m-checkbox--solid m-checkbox--brand">
							<input checked="true" type="checkbox" name="account_communication[]" value="email">Draft
							<span></span>
						</label>
					</div>
				</div>
			</div>			

			<div class="form-group">
				<mat-accordion>
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							<mat-panel-title>
								Revision
							</mat-panel-title>
							<mat-panel-description>
							</mat-panel-description>
						</mat-expansion-panel-header>


						<select class="form-control">
							<option>No filtering</option>
							<option>Revision passed</option>
							<option>Revision not passed</option>
						</select>
					</mat-expansion-panel>
				</mat-accordion>
			</div>

			<div class="form-group">
				<mat-accordion>
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							<mat-panel-title>
								Template
							</mat-panel-title>
						</mat-expansion-panel-header>
						<div class="row">
							<div class="col-xl-12 col-lg-12">
								<label class="m-checkbox m-checkbox--solid m-checkbox--brand">
									<input checked="true" type="checkbox" name="account_communication[]" value="email">Activities
									<span></span>
								</label>
							</div>
							<div class="col-xl-12 col-lg-12">
								<label class="m-checkbox m-checkbox--solid m-checkbox--brand">
									<input checked="true" type="checkbox" name="account_communication[]" value="email">Accommodation
									<span></span>
								</label>
							</div>
						</div>						
					</mat-expansion-panel>
				</mat-accordion>
			</div>

			<div class="form-group">
				<mat-accordion>
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							<mat-panel-title>
								Category
							</mat-panel-title>							
						</mat-expansion-panel-header>
						<div class="row">
							<div class="col-xl-12 col-lg-12">
								<label class="m-checkbox m-checkbox--solid m-checkbox--brand">
									<input checked="true" type="checkbox" name="account_communication[]" value="email">Go
									<span></span>
								</label>
							</div>
							<div class="col-xl-12 col-lg-12">
								<label class="m-checkbox m-checkbox--solid m-checkbox--brand">
									<input checked="true" type="checkbox" name="account_communication[]" value="email">Do
									<span></span>
								</label>
							</div>
							<div class="col-xl-12 col-lg-12">
								<label class="m-checkbox m-checkbox--solid m-checkbox--brand">
									<input checked="true" type="checkbox" name="account_communication[]" value="email">Stay
									<span></span>
								</label>
							</div>
						</div>
					</mat-expansion-panel>
				</mat-accordion>
			</div>

			<div class="form-group">
				<mat-accordion>
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							<mat-panel-title>
								Geo
							</mat-panel-title>
						</mat-expansion-panel-header>
						<div class="row">
							<div class="col-xl-12 col-lg-12">
								<label class="m-checkbox m-checkbox--solid m-checkbox--brand">
									<input checked="true" type="checkbox" name="account_communication[]" value="email">Nothing set
									<span></span>
								</label>
							</div>
							<div class="col-xl-12 col-lg-12">
								<label class="m-checkbox m-checkbox--solid m-checkbox--brand">
									<input checked="true" type="checkbox" name="account_communication[]" value="email">Nordic Adventures
									<span></span>
								</label>
							</div>
						</div>
						
					</mat-expansion-panel>
				</mat-accordion>
			</div>

			<div class="form-group">
				<mat-accordion>
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							<mat-panel-title>
								Supplier
							</mat-panel-title>
						</mat-expansion-panel-header>
						<div class="row">
							<div class="col-xl-12 col-lg-12">
								<label class="m-checkbox m-checkbox--solid m-checkbox--brand">
									<input checked="true" type="checkbox" name="account_communication[]" value="email">BookNordics AS
									<span></span>
								</label>
							</div>
							<div class="col-xl-12 col-lg-12">
								<label class="m-checkbox m-checkbox--solid m-checkbox--brand">
									<input checked="true" type="checkbox" name="account_communication[]" value="email">825 Stokkseyri Kayak Tours
									<span></span>
								</label>
							</div>
							<div class="col-xl-12 col-lg-12">
								<label class="m-checkbox m-checkbox--solid m-checkbox--brand">
									<input checked="true" type="checkbox" name="account_communication[]" value="email">Adventure Vikings
									<span></span>
								</label>
							</div>
							<div class="col-xl-12 col-lg-12">
								<label class="m-checkbox m-checkbox--solid m-checkbox--brand">
									<input checked="true" type="checkbox" name="account_communication[]" value="email">Arctic Trucks Experience
									<span></span>
								</label>
							</div>
						</div>
					</mat-expansion-panel>
				</mat-accordion>
			</div>


			<div class="form-group">
				<button type="submit" class="btn btn-primary">Refresh</button>
			</div>

			
		</div>
			<div class="col-xl-9 col-lg-8">
				<router-outlet></router-outlet>
			</div>
		</div>
</div>
