<m-portlet [options]="{headLarge: true}" [loading$]="dataSource.loading$">	
	<ng-container mPortletHeadTitle>
		<div class="m-portlet__head-title">
			<h3 class="m-portlet__head-text">
				Products list
			</h3>
		</div>
	</ng-container>
	<ng-container mPortletHeadTools>
		<a [routerLink]="['/ecommerce/products/add']" mat-raised-button color="primary" matTooltip="Create new product">New product</a>
	</ng-container>
	<ng-container mPortletBody>
		<div class="mat-table__wrapper">
			<mat-table class="lmat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc" matSortDisableClear>
				
				<ng-container matColumnDef="id">
					<mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-vinCode">Id</mat-header-cell>
					<mat-cell *matCellDef="let product" class="mat-column-vinCode">{{product.id}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="name">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
					<mat-cell *matCellDef="let product" class="f-s__12 clr_m_code">{{product.name}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="relationship">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Relationship</mat-header-cell>
					<mat-cell *matCellDef="let product" class="f-s__12">{{product.relationship}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="supplier">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Supplier</mat-header-cell>
					<mat-cell *matCellDef="let product" class="f-s__12 clr_m_code">{{product.supplier}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="template">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Template</mat-header-cell>
					<mat-cell *matCellDef="let product" [ngStyle]="{ 'color' : product.color }" class="f-s__12">
					<select class="form-control form-control-sm">
						<option>Activities</option>
						<option>Accommodation</option>
					</select>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="status">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
					<mat-cell *matCellDef="let product" class="f-s__12 clr_m_code">{{product.status}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="lastUpdated">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Last Updated</mat-header-cell>
					<mat-cell *matCellDef="let product" class="f-s__12">{{product.lastUpdated}}</mat-cell>
					<!--<mat-cell *matCellDef="let product">
						<span class="m-badge m-badge--{{ getItemCssClassByStatus(product.status) }} m-badge--wide">{{ getItemStatusString(product.lastUpdated) }}</span>
					</mat-cell>-->
				</ng-container>

				<ng-container matColumnDef="updatedBy">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Updated By</mat-header-cell>
					<mat-cell *matCellDef="let product" class="f-s__12">{{product.updatedBy}}</mat-cell>
					<!--<mat-cell *matCellDef="let product">
						<span class="m-badge m-badge--{{ getItemCssClassByCondition(product.status) }} m-badge--dot"></span>&nbsp;
						<span class="m--font-bold m--font-{{ getItemCssClassByCondition(product.status) }}">{{ getItemConditionString(product.updatedBy) }}</span>
					</mat-cell>-->
				</ng-container>

				<ng-container matColumnDef="actions">
					<mat-header-cell *matHeaderCellDef>
						Actions
					</mat-header-cell>
					<mat-cell *matCellDef="let product">
						<a [routerLink]="['/ecommerce/products/edit']" [queryParams]="{id: product.id}" mat-icon-button color="primary" matTooltip="Edit product">
							<mat-icon>create</mat-icon>
						</a>&nbsp;
						<button mat-icon-button color="warn" type="button" (click)="deleteProduct(product)" matTooltip="Delete product">
							<mat-icon>delete</mat-icon>
						</button>&nbsp;
						<input type="email" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Add tag">
					</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
			</mat-table>

			<div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
		</div>
		<div class="mat-table__bottom">
			<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
			<mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
		</div>		
	</ng-container>
</m-portlet>

	
